gcp_project_id            = "<PROJECT_ID>"
gcp_region                = "<PROJECT_REGION>"
gcp_zone                  = "<PROJECT_ZONE>"
gcp_gke_node_sa_id        = "gke-node-sa"
gcp_gke_node_sa_name      = "GKE Node Service Account"
gcp_gke_node_pod_sa_id    = "gke-node-pod-sa"
gcp_gke_node_pod_sa_name  = "GKE Node Pod Service Account"
gcp_ksa_sa_name           = "gcp-ksa-sa"
ksa_namespace_production  = "production"
ksa_namespace_development = "development"
gcp_artifact_repo_client  = "client"